

.form1{
    margin-top: 3%;
    margin-left: 15%;
}
.formlogin{
    font-size: larger;
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.formtext{
    font-size: 24px;
    color:black;
    margin-left:30%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.formbutton{
    width:35%;
    font-size: 23px;
    text-decoration: none;
    margin-left: 18%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.logincontainer1{
    width:34%;
    height:400px;
    
    margin-top: 1%;
    margin-left: 10%;
    padding-top: 0.01%;
    padding-bottom: 2.5%;
    border-radius: 5%;
}
.formp{
    font-size: 17px;
    color:black;
    margin-left: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.courseh2{
    font-size: 17px;
    color:black;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}